<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant</title>
    <link rel="stylesheet" href="/css/card.css">
</head>

<body>
    <div class="container">
        <div class="card">
            <h1>Products <%=data.product_id%> Detail</h1>
            <img src="<%=data.image_url%>" alt="">
            <h2><%=data.name%></h2>
            <p class="des">Description : <%=data.description%></p>
            <p>Price : <%=data.price%></p>
            <p>Amount : <%=data.quantity%></p>
            <a href="/"><button>Go Back</button></a>
        </div>
    </div>
</body>

</html>