<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        body {
            margin: auto;
            padding: 0;
            width: 90%;
        }
    </style>
</head>

<body>
    <h1>Users List</h1>
    <!-- สร้างตารางสำหรับแสดงข้อมูล -->
    <table class="table table-bordered">
        <tr>
            <th>ID</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Username</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        <% data.forEach((item)=>{ %>

            <tr>
                <td>
                    <%= item.id %>
                </td>
                <td>
                    <%= item.first_name %>
                </td>
                <td>
                    <%= item.last_name %>
                </td>
                <td>
                    <%= item.username %>
                </td>
                <td>
                    <%= item.email %>
                </td>
                <td><a href="/detail/<%= item.id %>" class="btn btn-info" role="button">Detail</a></td>
            </tr>
            <% }); %>
    </table>
</body>

</html>